In [1]:
x=int(input("enter 1st number:"))
y=int(input("enter 2nd number:"))
print(x+y)
print(x-y)
print(x/y)
print(x*y)

enter 1st number:2
enter 2nd number:7
9
-5
0.2857142857142857
14

In [2]:
p=int(input("enter principal amount :"))
n=int(input("enter no. of yrs :"))
r=int(input("enter rate :"))
r=r/100
i=p*n*r
print("interest :",i)

enter principal amount :1000
enter no. of yrs :4
enter rate :10
interest : 400.0

In [4]:
x=int(input("enter your marks :"))
if x>50:
  print('you are passed')
if x<50:
  print('you are failed')

enter your marks :60
you are passed

In [6]:
s=int(input("enter salary: "))
if s>250000:
  print("you r taxable")
  print("tax amount payable :",(s-250000)*(10/100))
else:
  print("not taxable")

enter salary: 300000
you r taxable
tax amount payable : 5000.0

In [8]:
s=int(input("enter salary: "))
if s>250000 and s<500000:
  print("you r taxable")
  print("tax amount payable :",(s-250000)*(10/100))
elif s>500000:
 print("you r taxable")
 print("tax amount payable :",(s-250000)*(20/100))  
else:
  print("not taxable")

enter salary: 600000
you r taxable
tax amount payable : 70000.0