In [2]:
x="This is \"Python\" programming"
print(x)

This is "Python" programming

In [4]:
x='He\'s a doctor'
print(x)

He's a doctor

In [6]:
x="Hello \n word!"
print(x)

Hello
 word!

In [7]:
x="hello \t world"
print(x)

hello 	 world

In [8]:
print("\"Abraham\"Jose")

"Abraham"Jose

In [9]:
print("He is a doctor")

He is a doctor

In [12]:
print("Abraham\n Jose")

Abraham
 Jose

In [20]:
y=input("Enter Name")
z=int(input("Enter place"))
x=["John " ,"Mary" ,"David" ,"Adam"]
X.insert(z,y)
print(x)

Enter Namenavneed
Enter place1
['John ', 'Mary', 'David', 'Adam']

In [24]:
def Navneed():
  y=input("Enter name:")
  z=int(input("Enter index value:"))
  x=["John " ,"Mary" ,"David" ,"Adam"]
  X.insert(z,y)
  print(X)

In [25]:
Navneed()

Enter name:sharon
Enter index value:1
['John ', 'sharon', 'navneed', 'navneed', 'Mary', 'David', 'Adam']

In [28]:
def showjith():
  x=int(input("Enter number:"))
  y=int(input("Enter second number"))
  print("Addition=",x+y)
  print("Subtraction=",x-y)
  print("Multipication=",x*y)
  print("Divison=",x/y)

In [31]:
showjith()

Enter number:77
Enter second number11
Addition= 88
Subtraction= 66
Multipication= 847
Divison= 7.0

In [34]:
def math(a,b):
   print(a,b)

In [36]:
x=int(input("Enter first value"))
y=int(input("Enter second value"))
math(x,y)

Enter first value1
Enter second value2
1 2

In [49]:
def add(a,b):
  print(a+b)

In [51]:
def subtract(a,b):
  print(a-b)

In [52]:
def divide(a,b):
  print(a/b)

In [53]:
def multiply(a,b):
  print(a*b)

In [54]:
x=int(input("Enter first value"))
y=int(input("Enter second value"))
add(x,y)
subtract(x,y)
divide(x,y)
multiply(x,y)

Enter first value4
Enter second value5
9
-1
0.8
20